stages:
  - pre
  - triggers
  - build
  - test
  - analyse
  - report

setup:
  stage: .pre
  script:
    - curl "https://gitlab.com/crobar-solutions/ravenholm/ci-pipelines/-/raw/main/java/maven/build_verification.yml?private_token=${GITLAB_TOKEN}" > build_verification.yml
  artifacts:
    paths:
      - build_verification.yml

build_verification:
  stage: triggers
  trigger:
    include: 
      - artifact: build_verification.yml
        job: setup
    strategy: depend
  only:
    refs:
      - merge_request
      - main
