stages:
  - pre
  - triggers
  - build
  - test
  - analyse
  - report

setup:
  stage: pre
  script:
    - mkdir .templates
    - curl "https://gitlab.com/api/v4/projects/29403976/repository/files/build_verification.yml/raw?ref=master&private_token=${GITLAB_TOKEN}" > templates/build-ci.yml
  artifacts:
    paths:
      - templates/build-ci.yml

trigger_build:
  stage: triggers
  trigger:
    include: 
      - artifact: templates/build-ci.yml
        job: build_verification
    strategy: depend

