setup_build_verification_file:
  stage: .pre
  script:
    - curl "https://gitlab.com/crobar-solutions/ravenholm/ci-pipelines/-/raw/main/java/maven/build_verification.yml?private_token=${GITLAB_TOKEN}" > build_verification.yml
  artifacts:
    paths:
      - build_verification.yml
  only:
    refs:
      - merge_request

setup_release_file:
  stage: .pre
  script:
    - curl "https://gitlab.com/crobar-solutions/ravenholm/ci-pipelines/-/raw/main/java/maven/release_on_branch.yml?private_token=${GITLAB_TOKEN}" > release_on_branch.yml
  artifacts:
    paths:
      - release_on_branch.yml
  only:
    variables:
      - $CI_COMMIT_REF_NAME =~ /^release\/.*$/i

build_verification:
  stage: build
  trigger:
    include: 
      - artifact: build_verification.yml
        job: setup_build_verification_file
    strategy: depend
  only:
    refs:
      - merge_request

release_on_branch:
  stage: build
  trigger:
    include: 
      - artifact: release_on_branch.yml
        job: setup_release_file
    strategy: depend
  only:
    variables:
      - $CI_COMMIT_REF_NAME =~ /^release\/.*$/i
