stages:
  - pre
  - triggers
  - build
  - test
  - analyse
  - report

setup:
  stage: pre
  script:
    - curl "curl "https://gitlab.com/crobar-solutions/ravenholm/ci-pipelines/-/raw/main/build_verification.yml?private_token=${GITLAB_TOKEN}" > build-verification.yml
  artifacts:
    paths:
      - build-verification.yml

trigger_build:
  stage: triggers
  trigger:
    include: 
      - artifact: build-verification.yml
        job: setup
    strategy: depend
